{
  "db": {
    "name": "db",
    "connector": "memory"
  },
  "pgAwsDS": {
    "host": "PG_HOST",
    "port": PG_PORT,
    "database": "PG_DBNAME",
    "password": "PG_PWD",
    "name": "pgAwsDS",
    "user": "PG_USER",
    "connector": "postgresql"
  }
}
